<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZyLtBeWb08Hhi4NXlgIwG63QKq0_hhSU</string>
	<key>GCM_SENDER_ID</key>
	<string>337036206535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stackforge.towerbuilding</string>
	<key>PROJECT_ID</key>
	<string>towerbuilding</string>
	<key>STORAGE_BUCKET</key>
	<string>towerbuilding.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337036206535:ios:6c39bcdaf6deeba45e79e2</string>
</dict>
</plist>